* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

.heading {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 7px;
}


article div {
   margin-top: -7px;
   cursor: pointer;
}

.menu-hamburguer {
    width: 20px;
    height: 3px;
    background: #fff;
}

.menu-hamburguer::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 3px;
    background: #fff;
}

.menu-hamburguer:hover {
    transform: scale(1.2,1.2);
}

.menu h2 {
    color: #fff;
}

.menu ul {
    display: none;
}

.menu ul.menu-ativo {
    display: block;
    position: absolute;
    width: 100%;
    margin-left: -7px;
    margin-top: 20px;
    text-align: center;
    
}

.menu a {
    display: block;
    padding: 10px;
    background: #000;
    color: #fff;
}

.menu a:hover {
    background: #fff;
    color: #000;
    transition: .4s;
}

.sociais {
    display: flex;
    width: 35%;
}

.sociais a {
    width: 100%;
    margin-left: 4px;
}
.sociais a:hover {
    transform: scale(1.2,1.2);
}

.mensagem-capa {
    padding: 2px;
    position: relative;
    max-width: 280px;
    margin: 0 auto;
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: -25px;
    animation: show 1s forwards;
}

.mensagem {
    font-size: .9em;
    display: none;
}

.autor {
    font-size: .7em;
    display: none;
}

@keyframes show{
    from {
        opacity: 0.5;
        transform: translate3d(0 ,-30px , 0);
    }
    to {
        opacity: 0.8;
        transform: translate3d(0, 0, 0);
    }
}

.sobre {
    margin: 50px auto;
    text-align: center;
}

.momentos {
    max-width: 260px;
}

.sobre h1 {
    margin-bottom: 10px;
}

.sobre p {
    margin-bottom: 2px;
    font-family: monospace;
    font-size: 1.1em;
}

.img-detalhes img{
    display: none;
}

.menu-img {
    display: flex;
    justify-content: center;
    margin-top: -5vh;
}

.menu-img div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 3px;
    cursor: pointer;
    border: 1px solid black;
}

.menu-img div:hover {
    transform: scale(1.2,1.2);
}

.img-detalhes img.ativo {
    display: block;
    animation: show-img 1s forwards;
}

.troca-cor {
    background: #000;
}

@keyframes show-img {
    from {
        opacity: .5;
        transform: translate3d(-30px, 0, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0 , 0, 0)

    }
}

.planos-info {
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
}

.planos-info h2 {
    background: #000;
    color: #fff;
    margin-bottom: 3px;
}

.planos-info div {
    margin-bottom: 25px;
}

.planos-info p {
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 0px;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer div {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

footer p {
    margin-top: 5px;
}

footer a:hover {
    border-bottom: 1px solid blue;
}

        /*  FORMATAÇÃO MEDIA    */


@media (min-width: 400px) {

    .menu a{
        font-size: 3vh;
    }

    .sociais {
        width: 20%;
        margin-right: 5px;
    }

    .mensagem-capa {
        max-width: 370px;
    }

    .mensagem {
        font-size: 2.5vh;
    }
    .autor {
        font-size: 2.3vh;
    }

    .sobre {
        font-size: 2.4vh;
        max-width: 450px;
    }

    .bolinha {
        margin-top: 5px;
    }

    .menu-img div {
        margin-left: 10px;
    }

    .planos-info div {
        padding: 20px;
        text-align: center;
    }

    footer {
        font-size: .8em;
    }

    footer p {
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {

    .menu a{
        font-size: 3vh;
    }

    .sociais {
        width: 20%;
        margin-right: 5px;
    }

    .mensagem-capa {
        max-width: 570px;
    }

    .mensagem {
        font-size: 2.5vh;
    }
    .autor {
        font-size: 2.3vh;
    }

    .sobre {
        font-size: 2.4vh;
        max-width: 550px;
    }

    .bolinha {
        margin-top: 5px;
    }

    .menu-img div {
        margin-left: 10px;
    }

    .planos article{
        display: flex;
        text-align: center;
        font-size: 1em;
        justify-content: center;
    }

    .planos-info p {
        height: 60px;
        width: 150px;
    }

    footer {
        font-size: 0.8em;
    }

    footer p {
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {

    .heading {
        height: 10vh;
    }

    .menu-mobile{
       display: none;
    }

    .menu ul.menu-ativo {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-around;
    }

    .menu ul {
        display: flex;
    }

    .menu a:hover {
        border-radius: 10px;
    }

    .mensagem-capa {
        max-width: 850px;
        top: -10px;

    }

    .mensagem {
        font-size: 3vh;
    }
    .autor {
        font-size: 2.7vh;
    }

    .sobre {
        font-size: 3vh;
        max-width: 860px;
    }

    .img-detalhes {
        width: 900px;
    }

    .bolinha {
        margin-top: 40px;
        padding: 7px;
    }

    .planos article{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1em;
    }

    .planos p {
        font-size: 1.5em;
    }



    footer {
        font-size: 1.4em;
    }
}


@media (min-width: 1000px) {

    .capa img{
        height: 60vh;
    }

    .heading {
        display: flex;
        justify-content: space-around;
    }
    
    .menu-mobile{
       display: none;
    }

    .menu ul.menu-ativo {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-around;
    }

    .menu ul {
        display: flex;
    }

    .menu a:hover {
        border-radius: 10px;
    }

    .sociais {
        width: 12%;
    }

    .sociais a {
        margin-left: 10px;
    }

    .mensagem-capa {
        max-width: 850px;
        top: -200px;

    }

    .mensagem {
        font-size: 4vh;
        margin-bottom: 5px;
    }
    .autor {
        font-size: 2.7vh;
    }

    .sobre {
        font-size: 2.5vh;
        max-width: 960px;
    }

    .img-detalhes {
        width: 960px;
    }

    .bolinha {
        padding: 1px;
        margin-top: -9px;
    }

    .planos article{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1em;
    }

    .planos p {
        font-size: 1em;
    }
    
    footer {
        font-size: 1em;
    }
}

